*{
    box-sizing: border-box;
}
img{
    width:100% 100%;
    height:50vh;
    margin-left: 25vw;
    margin-top: 9vh;
}
header{
    width:100%;
    height:20vh;
    text-align: center;
    background-image: url('cover.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding-top:3vh ;
    z-index: 1;
}
#aside {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 13vw; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 2; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-image: url('side1.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
    font-size:25px ;
    color:rgb(243, 236, 236);
}
#aside a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color:rgb(243, 236, 236);
    display: block;
    line-height: 5vh;
    margin-top: 1vh;
}

}
#aside> a:hover {
    color: #0c0c0c;
}
body{
      margin-left:14vw;
      text-align: justify;
}
#intro{
    background-image: url('00.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height:80vh;
    padding: 2%;
}
#sec1{
    background-image: url('1.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height:50vh;
    padding: 2%;
}
#sec2{
    background-image: url('2.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height:50vh;
    padding: 2%;
}
#sec3{
    background-image: url('3.webp');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height:75vh;
    padding: 2%;
}
#sec4{
    background-image: url('4.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height:50vh;
    padding: 2%;
}
#sec5{
    background-image: url('5.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height:50vh;
    padding: 2%;
}
#sec6{
    background-image: url('6.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height:130vh;
    padding: 2%;
}
footer{
    background-image: url('foot.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height:20vh;
    text-align: center;
    color:burlywood;
    padding-top: 3vh;
    font-size: 4vh;;
}
@media only screen and (max-width: 650px) {
    #aside{
        width:12vw;
        font-size:15px;
    }
    #aside a {
        font-size: 10px;
        line-height: 2vh;
    }
    body{
    margin-left: 13vw;
    }
    img{
        width:250px;
        height:250px;
        margin-left: 10vw;
        margin-top: 10vh;
    }
    #intro{
        height:120vh;
    }
    #sec1,#sec2,#sec4,#sec5{
        height:70vh;
    }
    #sec3{
        height:100vh;
    }
    #sec6{
        height: 200vh;
    }

}
